google-cloud-bigquery>=3.14.0
google-cloud-secret-manager>=2.16.0
pandas>=2.0.0
pyarrow>=14.0.0
paramiko>=3.3.0
flask>=3.0.0
gunicorn>=21.0.0
requests>=2.31.0
db-dtypes>=1.2.0
sendgrid>=6.9.0
google-api-python-client>=2.80.0
